{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is Patrick Anyanwu and I am an aspiring Machine Learning Engineer that is currently studying computer science in Dublin City University. Along with my studies I do online courses at home and make projects in my free time to further develop my skills. More info about me can be found at <a href="https://www.linkedin.com/in/patrick-anyanwu-1355b12a8/">my linkedin</a>.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
